<h1>Urls</h1>
<ul>
  <% @urls.each do |url| %>
    <li><%= link_to "#{request.base_url}/#{url.short} --> #{url.full} (#{url.count || 0})", edit_url_path(url) %></li>
  <% end %>
</ul>
<%= link_to "Create new short url", new_url_path %>
